.table {
    display: flex;
    justify-content: center;
}

.table-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        margin-top: 10px;
        font-weight: 700;
        font-size: 32px;
        line-height: 140%;

        margin-bottom: 20px;
    }
}

.example-container {
    max-height: 100%;
    overflow: auto;
    width: 700px;
}
  
table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}