<div class="product">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-tab-group>
            <mat-tab label="Информация о товаре">
                <div class="product__info">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            placeholder="Сноубордические штаны"
                            formControlName="name">
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Brand</mat-label>
                        <input
                            matInput
                            placeholder="DC shoes"
                            formControlName="brand">
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input
                            matInput
                            placeholder="8500"
                            formControlName="price"
                            mask="000000">
                    </mat-form-field>
    
                    <section class="example-section">
                        <mat-checkbox
                            class="example-margin"
                            formControlName="isActive"
                            color="warn"
                        >
                            Активность
                        </mat-checkbox>
                    </section>
                </div>
            </mat-tab>
            <mat-tab label="Загрузка фотографий">

                <div *ngIf="images$ | async as images">

                    <div
                        class="product__image"
                        cdkDropListGroup
                        >
                        <div *ngFor="let image of (productData ? productData.image : photos); index as idx;">
                            
                            <div
                                cdkDropList
                                (cdkDropListDropped)="drop($event)"
                                cdkDropListOrientation="horizontal"
                                [cdkDropListData]="{ item: image, index: idx }"
                            >
                                <app-product-image
                                    [image]="image"
                                    (onAdd)="addImageProduct($event)"
                                    (onDel)="delImageProduct($event)"
                                    cdkDrag
                                    [cdkDragDisabled]="disabledBtn"
                                >
                                    {{ idx + 1 }}
                                    <div *cdkDragPlaceholder></div>
                                </app-product-image>
                            </div>

                        </div>
                    </div>

                    <button
                        mat-raised-button
                        color="accent"
                        class="product__button_add"
                        type="button"
                        [disabled]="disabledBtn"
                    >
                        <mat-icon>file_upload</mat-icon>
                        Добавить файлы
                        <input
                            class="product__input"
                            type="file"
                            accept="image/jpeg"
                            (change)="addFile($event)"
                            [disabled]="disabledBtn"
                        >
                    </button>
                </div>

            </mat-tab>
            <mat-tab label="Загрузка документов">
                <div class="file">
                    <input
                        accept="application/pdf, application/vnd.ms-excel"
                        type="file"
                        class="file__input"
                        (change)="addDocument($event)"
                        #fileUpload>

                    <div class="file-upload">

                       {{ fileInfo || "Загрузите пожалуйста файл" }} {{ fileSize }}
                    
                        <button
                            type="button"
                            mat-mini-fab
                            color="primary"
                            class="upload-btn"
                            (click)="fileUpload.click()"
                            [disabled]="disabledBtn"
                        >
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                </div>
              
                <div *ngIf="result$ | async as result; else loading"></div>
                
                <ng-template #loading>
                    <ng-container *ngIf="loadingProgress$ | async as progress">
                        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
                    </ng-container>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <div class="product__button">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="form.invalid || disabledBtn"
            >
                Добавить товар
            </button>
        </div>
    </form>
</div>

<app-navigation></app-navigation>