ngx-dropzone,
.custom-dropzone {
  margin: 10px;
}

.custom-dropzone {
	height: 250px;
    max-width: 550px;
	background: #fff;
    border: none;
    box-shadow: 4px 4px 14px rgb(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 20px;
    justify-content: center;
}

.custom-dropzone.ngx-dz-hovered {
  border: 2px solid #000;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.mat-tab {
    height: 100%;
    width: 100%;
}

.product {

    &__info {
        height: 100%;
        overflow: hidden;
    }

    &__image {
        margin: 10px;
        background-color: #fff;
        box-shadow: 4px 4px 14px rgb(0, 0, 0, 0.25);
	    border-radius: 15px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 650px;
    }

    &__btn {
        display: flex;
        justify-content: center;

        &__add {
            margin: 10px;
        }
    }

    &__input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}