.image-card {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-size: cover;
}

.coverImage {
    font-size: 0;
    border: 'transparent';
}

.noCover {
    border: dotted rgb(0, 0, 0, 0.25);
}
