<div class="image" *ngIf="!image.url; else cover">
    <div
        (dragover)="imageOver($event)"
        (dragleave)="imageLeave($event)"
        (drop)="imageDrop($event)"
        class="image-card no-cover"
        appDropZone
        (onFileDropped)="addImage($event)"
    >
        <ng-content></ng-content>
    </div>
</div>

<ng-template #cover>
    <div class="image">
        <div class="image-close">
            <mat-icon (click)="delImage(image)">content_cut</mat-icon>
        </div>
            
        <img
            (dragover)="imageOver($event)"
            (dragleave)="imageLeave($event)"
            (drop)="imageDrop($event)"
            class="image-card cover-image"
            appDropZone
            (onFileDropped)="addImage($event)"
            [src]="image.url"
        >
    </div>
</ng-template>

<!-- [attr.data-index]="" -->
