<mat-card class="example-card">
    <mat-card-header class="card-title" (click)="goToProductPage(item)">
      <div
        mat-card-avatar
        class="example-header-image"
      ></div>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.price | currency : '₽ ': 'symbol': '1.0-0' }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      class="example-card__image"
      alt="Photo of a product"
      [src]="imageProduct"
    >
    <mat-card-content>
      <p>
        {{ item.brand }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        (click)="addBasket(item)"
        [disabled]="disabledBtn"
      >
        <mat-icon>{{ iconItem }}</mat-icon>
        {{ infoButton }}
      </button>
    </mat-card-actions>
  </mat-card>