<div class="goods">

    <div class="goods__widget">
        <button
            class="widget-button"
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a filter list icon"
            matTooltip="Сортировка"
            (click)="getProduct()"
        >
            <mat-icon>{{ widgetIcon }}</mat-icon>
        </button>

        <button
            mat-mini-fab
            [matMenuTriggerFor]="menu"
            color="accent"
            aria-label="Example icon button with a filter list icon"
            class="widget-button"
            matTooltip="Фильтры"
        >
            <mat-icon>filter</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="widget">

            <form (click)="$event.stopPropagation()" [formGroup]="form" (ngSubmit)="submit()">
                <div class="widget-title">Бренд:</div>
                <div class="filter-widget" >
                    <mat-checkbox class="widget-check" formControlName="brand">Nike</mat-checkbox>
                </div>
                <button mat-button color="primary" class="filter-button" type="submit">Применить</button>
                
            </form>
            
        </mat-menu>
    </div>

    <div class="goods-content">
        <div class="goods-content__head">
            Список товаров:
        </div>
    
        <div class="goods-content__item" *ngIf="goods$ | async as goods">
            <div  *ngFor="let item of goods | paginate: { itemsPerPage: 4, currentPage: p }">
                <app-product
                    [item]="item"
                    (onBasket)="addItemBasket($event)"
                ></app-product>
            </div>
        </div>

        <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Предыдущая"
            nextLabel="Следующая"
        ></pagination-controls>
    </div>
</div>

<app-navigation></app-navigation>