/* You can add global styles to this file, and also import other style files */

html,
body {
    max-height: 100%;
    padding-bottom: 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.menu {
    position: absolute;
    top: 50%;
    max-width: auto;
    background-color: azure;
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgb(0, 0, 0, 0.25);
    cursor: pointer;
}

.mat-menu-panel {
    max-width: 200px;
    max-height: 50px;
    margin-top: 10px;
}