/* You can add global styles to this file, and also import other style files */

html,
body {
    max-height: 100%;
    padding-bottom: 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
