<div class="goods">

    <div class="goods__widget">
        <button
            class="widget-button"
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a filter list icon"
            matTooltip="Сортировка"
            (click)="getProduct()"
        >
            <mat-icon>{{ widgetIcon }}</mat-icon>
        </button>

        <button
            mat-mini-fab
            [matMenuTriggerFor]="menu"
            color="accent"
            aria-label="Example icon button with a filter list icon"
            class="widget-button"
            matTooltip="Фильтры"
        >
            <mat-icon>filter</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="widget">

            <div (click)="$event.stopPropagation()">
                <div class="filter-widget">
                    <mat-checkbox class="widget-check">Обувь</mat-checkbox>
                    <mat-checkbox class="widget-check">Футблоки</mat-checkbox>
                </div>
                
            </div>
            
        </mat-menu>
    </div>

    <div class="goods-content">
        <div class="goods-content__head">
            Список товаров:
        </div>
    
        <div class="goods-content__item">
            <div  *ngFor="let item of goods$ | async">
                <app-item
                    [item]="item"
                    (onBasket)="addItemBasket($event)"
                ></app-item>
            </div>
        </div>
    </div>
</div>

<app-navigation></app-navigation>