<div class="goods">
    <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a filter list icon"
        (click)="sortPrice()"
    >
        <mat-icon>filter_list</mat-icon>
    </button>
    <div class="goods-content">
        <div class="goods-content__head">
            Список товаров:
        </div>
    
        <div class="goods-content__item">
            <div  *ngFor="let item of goods$ | async">
                <app-item
                    [item]="item"
                    (onBasket)="addItemBasket($event)"
                ></app-item>
            </div>
        </div>
    
        <mat-paginator
            [pageSizeOptions]="[4, 8]">
        </mat-paginator>
    </div>
</div>