<div class="goods">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>filter</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>

      </mat-menu>

    <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a filter list icon"
        (click)="getProduct()"
    >
        <mat-icon>filter_list</mat-icon>
    </button>

    <div class="goods-content">
        <div class="goods-content__head">
            Список товаров:
        </div>
    
        <div class="goods-content__item">
            <div  *ngFor="let item of goods$ | async">
                <app-item
                    [item]="item"
                    (onBasket)="addItemBasket($event)"
                ></app-item>
            </div>
        </div>
    </div>
</div>

<app-navigation></app-navigation>